.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  padding: 20px;
}

button:hover{
    background-color: #007bff;
}

.button-normal {
    background-color: #f8f9fa; /* light gray */
    color: black;
    border: 1px solid #dee2e6; /* light gray border */
}

.button-active {
    background-color: #007bff; 
    color: white;
    border: 1px solid #007bff; 
}





.post {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-content {
  border: 0.5px solid #c8ebff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.post small {
  text-align: right;
  color: #666;
}

.align-right {
  text-align: right;
  display: block;
}

.bottomPost {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.buttonblue {
  background: none;
  border: none;
  color: #1da1f2;
  padding: 2px 2px;
  font-size: 16px;
}

.bottomPost button {
  background: none;
  border: none;
  color: #1da1f2;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.bottomPost button:hover {
  text-decoration: underline;
}

.bottomPost button:focus {
  outline: none;
}
